
		<header>
			<a href="https://twitter.com/auchenberg" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @auchenberg</a>
		</header>


		<h1>devsh</h1>
		<section>
			<p>Wildcard domains for development (*.dev) made simple</p>
		</section>

		<section>
			<h2> Get started </h2>
			<p>To install or upgrade dev.sh, open a terminal and run this command:</p>
			<div class="install">
        <code><span class="light">$</span> curl get.dev.sh | sh</code>
        <span class="source">(<a href="http://get.dev.sh">View Source</a>)</span>
      </div>
      <p>That’s it! Any .dev domain should now point to 127.0.0.1. See the user’s manual for more information.
		</section>

		<section>
			<h2> Spread the word!</h2>
			<p>Think this is awesome? Help me spread the word. </p>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dev.sh" data-size="large">Tweet</a>


			<iframe src="http://ghbtns.com/github-btn.html?user=auchenberg&repo=devsh&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>

			<div class="fb-like" data-href="http://dev.sh" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>

		</section>


		<section>
      <h2> Behind the scenes </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat leo nec felis vestibulum tincidunt. Nullam pharetra urna risus. Nam enim dui, pellentesque quis consectetur et, venenatis sed nunc. Morbi vel dignissim mi. Duis vehicula, erat sed placerat convallis, odio lectus vehicula tortor, quis tincidunt tellus purus ut diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nisl dolor, convallis ut consequat in, ultricies vel felis. Sed a arcu ut mi aliquet ornare quis at enim.</p>

      <p>Nulla velit ligula, hendrerit vel porta sit amet, tincidunt at nisi. Quisque aliquet, sapien id mollis dapibus, mauris tellus ornare dui, quis dictum sem nisi in dolor. Etiam tristique sem sed lectus consectetur at auctor diam ornare. Nullam felis diam, dignissim sit amet mattis vel, porta eu dui. Donec rhoncus vestibulum lorem, eu mattis eros venenatis a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut venenatis, massa faucibus semper malesuada, urna orci suscipit felis, at blandit purus massa vitae urna.</p>
		</section>


		<section>
      <h2> About this project </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat leo nec felis vestibulum tincidunt. Nullam pharetra urna risus. Nam enim dui, pellentesque quis consectetur et, venenatis sed nunc. Morbi vel dignissim mi. Duis vehicula, erat sed placerat convallis, odio lectus vehicula tortor, quis tincidunt tellus purus ut diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nisl dolor, convallis ut consequat in, ultricies vel felis. Sed a arcu ut mi aliquet ornare quis at enim.</p>
		</section>



		<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>

		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=119768701445566";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
