
		<header>Follow <a href="http://twitter.com/auchenberg">@auchenberg</a>  at Twitter</header>

		<div class="frontpage">
			<img src="i/logoes.png" alt="iSpotify" />
			<h2>Play your iTunes music in Spotify</h2>
			<div class="button"></div>
			<h3></h3>

		</div>

		<div class="loader">
			<h2>Hmm, let me look through your music collection...</h2>
		</div>

		<div class="result">
			<h2>Buh, I couldn't find anything for you... Better luck next time</h2>
			<div class="sort-nav">
				<div>Order by</div>
				<ul>
					<li class="played selected">Most played</li>
					<li class="artist">Artist</li>
					<li class="album">Album</li>
					<li class="spotify">Playifyable</li>
				</ul>
			</div>
			<div class="progress">
				<div class="current"></div>
			</div>
			<div class="list"></div>
		</div>
