<!DOCTYPE html>
<html>
	<head>
		<title>dev.sh - awesome way to get wildcard (*.dev) domains locally</title>
		<link rel="stylesheet" media="screen, projection" href="style.css" type="text/css" />
		<meta content="Play your music in Spotify" name="description">
		<meta content="spotify, music, itunes, converter, migrate, playify, music, online, auchenberg" name="keywords">
	</head>
	<body>
		<%= yield %>
	</body>

	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-13186026-1");
		pageTracker._trackPageview();
		} catch(err) {}
	</script>

	<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
	<script type="text/javascript">
		re_("00079-9zu186797p");
	</script>

</html>
