html {
  background: #fff;
  margin: 0;
}
body {
  margin: 0;
  padding: 50px 0 0 0;
  color: #404040;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgba(147, 128, 108, 0.1);
}
h1 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 30px 0 0 0;
}
p {
  line-height: 2rem;
}
a:link,
a:visited {
  color: #000;
  text-decoration: underline;
}
section {
  max-width: 500px;
  padding: 0 30px 30px 30px;
  margin: 0 auto;
}
header h1 {
  text-transform: uppercase;
}
header h2 {
  margin: 0;
  font-weight: 400;
}
.install {
  position: relative;
}
.install .source {
  position: absolute;
  right: 20px;
  top: 13px;
}
.install .prefix {
  position: absolute;
  left: 20px;
  top: 13px;
}
.install a {
  color: #000;
}
.install input {
  display: block;
  border: 0;
  outline: 0;
  background-color: #fff;
  padding: 15px 20px 15px 40px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
.social {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  text-align: center;
}
