body {
  background: #FDFDFD;
  font-family: Georgia,serif;
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 { font-size: 2.8em; font-weight: normal; margin: 0; padding:0; }
h3 { font-size: 1.3em; font-weight: normal; }

section {
  border-top: 1px dashed #BEBEBE;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  overflow: hidden;
}

section p {
 font-size: 18px;
}

header { position: absolute; right: 30px; top: 15px;  font-size: 14px;}
header, header a, header:visited { color: #b4b5b3; }



code {
  font:16px Monaco,'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace;
}

.install {
  padding-top: 30px;
  overflow: hidden;
}

.install code {
  background-color: #D2D2CA;
  float: left;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.install .source {
  color: #999;
  font-size: 12px;
  padding: 15px 10px;
  float: left;
}


