<html>
  <head>
    <title>dev - zero config wildcard *.dev domains.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link href="images/favicon.png" rel="shortcut icon" sizes="16x16 32x32 64x64" />
    <script src="js/app.js" defer></script>
  </head>
  <body>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <a href="https://twitter.com/auchenberg" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @auchenberg</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="auchenberg" data-related="auchenberg">Tweet</a>
    </footer>
    
  </body>
</html>
